{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "rules": {
    "jest/expect-expect": "off",
    "class-methods-use-this": "error"
  },
  "overrides": [
    {
      "files": [ "./migrations/*.ts"
      ],
      "rules": {
        "class-methods-use-this": "off"
      }
    }
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
